		<footer>
			<div class="row">
				<div class="twelve columns">
					<p>
					<a href="/introduction/license.html">版权声明</a> | last modified on {{ page.modifiedOn | date: "%Y-%m-%d" }} 
					</p>
				</div>
			</div>
		</footer>

		<!-- IE Fix for HTML5 Tags -->
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<script src="/myblog/js/jquery.js"></script>
		<script src="/myblog/js/toc.js"></script>
		<script src="/myblog/js/main.js"></script>
		<script>
		// 访问信息
		</script>
	</body>
</html>
